<!-- Loading State -->
<app-loader *ngIf="isLoading" />

<!-- Error State -->
<p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>

<!-- Idle State -->
<form
  *ngIf="!isLoading && !errorMessage"
  class="card-container col-container p-40 g-24"
  (ngSubmit)="onLoginClick()"
  #formContainer="ngForm"
>
  <h2>Mock Login Form</h2>

  <!-- Container for the name field -->
  <div class="col-container">
    <input
      type="text"
      name="name"
      placeholder="Enter your name"
      required
      [(ngModel)]="userInput.name"
      #name="ngModel"
    />

    <!-- Error text for the name field -->
    <p class="error-text" *ngIf="!name.valid && name.touched">
      Please provide the name field
    </p>
  </div>

  <!-- Container for the Role input -->
  <div class="row-container center">
    <!-- Option Librarian -->
    <label>
      <input
        type="radio"
        name="role"
        value="Librarian"
        [(ngModel)]="userInput.role"
      />
      Librarian
    </label>

    <!-- Option Member -->
    <label>
      <input
        type="radio"
        name="role"
        value="Member"
        [(ngModel)]="userInput.role"
      />
      Member
    </label>
  </div>

  <!-- This is the login button -->
  <button class="secondary-btn" type="submit" [disabled]="!formContainer.valid">
    Login
  </button>
</form>
